body{
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #E0E0E0;
}

h1{
  font-weight: 100;
}

.content{
  text-align: center;
  position: absolute;
  width: 100%;
  top: 38%; /* not hacky */
}
